.my-area {
    position: absolute;
    top: 352px;
    left: 144px;
}
.opposite-area {
    position: absolute;
    top: 0px;
    left: 144px; //TH*6
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.left-area {
    position: absolute;
    top: 176px;
    left: -32px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.right-area {
    position: absolute;
    top: 176px;
    left: 320px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.player {
    font-size: 0;
    width: 314px;
    max-width: 314px;
    height: 240px;
    max-height: 240px;
    text-align: center;
}
span {
    display: inline-block;
    font-size: 16px;
    width: 16px;
    max-width: 16px;
}
.rotate {
    display: inline-block;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.nonexisting-tile {
    visibility: hidden;
}
